<div class="header">
  <div class="nav-header">
    <div class="d-flex">
      <div class="searchbar d-none d-md-inline-flex">
        <div class="position-relative">
          <input
            type="text"
            placeholder="Search..."
            autocomplete="off"
            class="form-control"
          />
          <span class="bx bx-search-alt-2"></span>
          <span class="bx bx-x close-circle d-none"></span>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center">
      <div class="settings">
        <button class="btn btn-icon"><i class="bx bx-sun"></i></button>
      </div>
      <div class="notification">
        <button class="btn btn-icon"><i class="bx bx-bell"></i></button>
      </div>
      <div class="user">
        <button class="btn shadow-none">
          <span class="d-flex align-items-center">
            <img
              class="rounded-circle header-profile-user"
              src="assets/images/users/32/avatar-8.jpg"
              alt="Header Avatar"
            />
            <span class="text-start ms-xl-2">
              <span class="d-xl-inline-block ms-1 fw-medium user-name-text"
                >Gian Paulo</span
              >
              <span class="d-xl-block ms-1 fs-sm user-name-sub-text"
                >Founder</span
              >
            </span>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
