.btn {
  position: relative;
  // --#{$prefix}btn-padding-x: 2rem;
}

.btn-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: calc(#{$input-btn-padding-y * 2} + #{$btn-lineheight}em);
  height: calc(#{$input-btn-padding-y * 2} + #{$btn-lineheight}em);

  :is(i, svg, img) {
    vertical-align: middle;
  }

  &.btn-sm {
    width: calc(#{$input-btn-padding-y-sm * 2} + #{$btn-lineheight}em);
    height: calc(#{$input-btn-padding-y-sm * 2} + #{$btn-lineheight}em);
  }
  &.btn-lg {
    width: calc(#{$input-btn-padding-y-lg * 2} + #{$btn-lineheight}em);
    height: calc(#{$input-btn-padding-y-lg * 2} + #{$btn-lineheight}em);
  }
}

@each $state in map-keys($theme-colors) {
  .btn-outline-#{$state} {
    --#{$prefix}btn-bg: transparent;
    --#{$prefix}btn-color: var(--#{$prefix}#{$state});
  }
}
