.sidenav {
  background-color: $white;
  width: $v-width-lg;
  position: fixed;
  position: absolute;
  top: 0;
  margin-top: 0;
  bottom: 0;
  transition: all ease 0.5s;
  z-index: 1001;
  border-right: 1px solid black;

  .navbar-nav {
    .nav-link {
      color: black;
      display: flex;
      align-items: center;
      padding: $v-menu-item-padding-y $v-menu-item-padding-x;
      margin: 4px 0px;

      &.active {
        background: rgb(66, 66, 66);
        color: whitesmoke;
      }
      &:hover {
        color: rgb(180, 180, 180);
      }
      i {
        display: inline-block;
        line-height: 1;
        min-width: 1.75rem;
        // min-width: $v-menu-item-icon-width;
        // font-size: calc(var(--tb-vertical-menu-item-font-size)* 1.3);
      }

      &[data-bs-toggle="collapse"] {
        &:after {
          display: block;
          content: "\ea50";
          font-family: "boxicons";
          margin-left: auto;
          transition: transform 0.2s;
          font-size: 1.05rem;
          position: absolute;
          right: 20px;
          color: whitesmoke;
        }

        &[aria-expanded="true"] {
          // background: lightgreen;
          background: rgb(66, 66, 66);
          color: whitesmoke;

          &:after {
            transform: rotate(90deg);
            color: whitesmoke;
          }

          &:before {
            opacity: 1;
            background-color: pink;
          }
        }
      }
      &.collapsed {
        &.active {
          &::after {
            transform: rotate(90deg);
          }
        }
      }
    }
    .nav-sm {
      padding-left: 1.5rem;
      a {
        color: black;
      }
      .nav-link {
        padding: $v-menu-item-padding-y $v-menu-item-padding-x;
        position: relative;
        margin: 0;

        &:before {
          content: "";
          width: 3.5px;
          height: 3.5px;
          background-color: black;
          position: absolute;
          left: 5px;
          top: 17.5px;
          transition: all 0.4s ease-in-out;
          opacity: 0.5;
          border-radius: 50%;
        }

        &[aria-expanded="true"] {
          background-color: red;
        }
        &:hover {
          color: burlywood;
        }

        &.active {
          color: black;
          background-color: transparent;
          &:before {
            background-color: black;
          }
        }
      }

      .nav-sm {
        padding-left: 15px;
        background: red;
        .nav-link {
          &:before {
            height: 5px;
            width: 5px;
            left: 12px;
            border-radius: 50%;
            background-color: transparent;
            border: 1px solid;
            top: 16px;
          }
        }
      }
    }
  }
}

.mybrand-box {
  position: relative;
  padding: 0 1.3rem;
  // height: $header-height;
  height: calc($header-height + 16px);

  // background: lightgrey;
}
.mennu-button,
.secmennu-button {
  display: flex;
  top: 34%;
  right: -13px;
  position: absolute;

  &.open {
    transform: rotate(-180deg);
  }
}

.menu-title {
  color: black;
  letter-spacing: 0.05rem;
  font-size: 11px;
  text-transform: uppercase;

  span {
    padding: 12px 20px;
    display: inline-block;
  }
  i {
    display: none;
  }
}

[data-layout="vertical"] {
  &[data-sidebar-size="sm"] {
    .sidenav {
      width: $v-width-sm;

      @media screen and (max-width: 768px) {
        .brand-logos {
          display: none;
        }
      }

      .simplebar-mask,
      .simplebar-content-wrapper {
        overflow: visible !important;
      }
    }

    .logo {
      span.logo-lg {
        display: none;
      }

      span.logo-sm {
        display: inline-block;
      }
    }

    .navbar-nav {
      padding-top: 1.5rem;
      .menu-title {
        text-align: center;
        font-size: 1rem;

        span {
          display: none;
        }

        i {
          display: block;
          line-height: 36px;
        }
      }

      .nav-link {
        span {
          display: none;
        }

        i {
          font-size: 18px;
        }

        svg {
          margin-right: 0px;
        }

        &:after,
        &:before {
          display: none;
        }
      }

      .menu-dropdown {
        display: none;
        height: auto !important;
      }

      .nav-item {
        position: relative;

        > a.menu-link {
          // margin: 0 12px;
          @include animation-medium;

          margin: 0 -4px;
        }

        &:hover {
          > a.menu-link {
            position: relative;
            // background-color: rgba(255, 0, 0, 0.245);

            // width: calc(200px + #{$v-width-sm});
            color: green;

            span {
              opacity: 0;
              // z-index: 1;
              display: inline-block;
              // padding-left: 73px;
              // animation: scale-up-tl 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
              //   both;
            }
            span.badge {
              display: none;
            }

            // &:after {
            //   display: block;
            //   transform: rotate(90deg);
            //   color: $white;
            // }
          }

          > .menu-dropdown {
            @include animation-medium;
            display: block;
            top: 0;
            left: $v-width-sm;
            position: absolute;
            // width: 212px;
            min-width: 150px;
            background: blue;
            border-radius: 8px;
            height: auto !important;
            // padding: 2.5rem 0 0.5rem 0;
            animation: scale-up-tl 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          }
        }
      }
    }
  }
}

.vertical-sidebar-enable {
  .vertical-overlay {
    display: block;
  }
  .sidenav {
    width: 0 !important;
  }
  .content-container,
  .footer {
    margin-left: 0;
  }
  .mennu-button {
    display: none;
  }

  .brand-logos {
    display: none;
  }
}
.vertical-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.399);
  z-index: 1005;
  display: none;
}
