<div class="analytics">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, illum
  repudiandae vero dolorum quia aliquid deserunt libero maxime mollitia magnam.
  Voluptate minus accusamus, quo aliquid nihil blanditiis dignissimos molestiae
  fuga eaque obcaecati veritatis aut, a porro officiis sit ad. Corporis, modi
  quis aliquam, libero obcaecati dolorum, sapiente voluptatem vel eius eligendi
  architecto odio aliquid nisi? Consectetur amet quaerat fuga. Vel
  exercitationem, illo adipisci reiciendis, pariatur porro atque velit
  voluptatum aliquid rerum officia, amet repudiandae laborum magnam natus animi.
  Et perferendis quaerat voluptas culpa accusantium molestias facilis saepe
  excepturi nostrum. Omnis, tempora pariatur accusantium adipisci temporibus
  odit repellendus, fugiat quaerat atque aspernatur necessitatibus error
  laboriosam voluptate! Cupiditate, atque, eveniet excepturi, doloremque commodi
  at numquam incidunt eum doloribus repellendus deserunt! Ipsam atque, optio
  ducimus doloremque repellendus est quisquam eum facilis labore obcaecati animi
  quibusdam asperiores tempore. Voluptatibus, cum est optio praesentium,
  officiis rem soluta perferendis doloribus natus molestiae quidem non quod
  harum, ab voluptates ratione. Aliquam ad ab magnam aut eos consectetur velit
  explicabo tempore incidunt saepe natus aliquid veniam sit mollitia impedit, in
  non fugiat. Soluta odit fugit facilis voluptate amet aut culpa? Sed tempore,
  assumenda tempora atque recusandae velit dolores harum ratione fuga at illum
  id dignissimos porro? Expedita quos voluptatibus corporis rerum ullam,
  repellendus cupiditate ipsum perspiciatis aliquid eligendi repellat
  consectetur voluptas tempora minus sint, impedit, nihil dignissimos vel
  explicabo. Corrupti explicabo et impedit magnam quas quo, veniam repellendus
  ut ipsa dicta rem fugiat, iste pariatur sunt necessitatibus quidem accusamus
  porro libero ad facilis quibusdam mollitia voluptates tempora quia.
  Repellendus rerum quaerat provident tempora iste veritatis a ipsa corrupti
  consectetur deserunt? Voluptatibus, quisquam cum. Eius, incidunt ut. Facere ut
  rem, rerum officia ad exercitationem delectus placeat, blanditiis a dolores
  animi adipisci fugit beatae odio, nostrum perspiciatis laborum? Deleniti id
  soluta quidem nisi ipsam tempora animi similique cupiditate omnis ipsa neque
  earum in, eligendi sit quos? Earum, debitis ipsa! Distinctio quasi culpa
  deserunt saepe temporibus qui alias incidunt maiores at. Recusandae aspernatur
  dignissimos distinctio! Aut, earum alias consequatur necessitatibus suscipit
  quis fugiat beatae dolor animi sunt nulla aperiam vero consequuntur iure eius
  quo. In, similique. Laudantium in vel, officiis possimus, sed quisquam beatae
  eligendi sunt ad assumenda vitae, dolores expedita. Temporibus vel eaque,
  earum, nobis voluptatibus autem nam minus vitae, a atque natus velit magnam
  commodi fugiat! Quisquam tempora officiis fuga officia nisi earum ex corporis,
  sed fugiat consequatur ipsam cum quis vero laborum aliquam illo voluptatibus
  delectus reprehenderit eum sequi molestias placeat facere eius! Vitae quod
  ratione neque minus maiores voluptates dolor possimus obcaecati quo pariatur,
  libero laborum labore suscipit recusandae error, velit dignissimos.
  Architecto, iusto laudantium? Ipsum, possimus voluptatum maiores rerum
  temporibus labore, tempora alias quis, nesciunt quisquam officiis? Perferendis
  exercitationem dicta laboriosam! Facilis officia, cumque consequatur ipsum
  impedit aliquid laboriosam quam voluptatem accusamus. Id explicabo asperiores
  ipsum velit nemo maxime quasi maiores ad neque nulla? Eveniet animi unde
  inventore et quidem labore assumenda sit, eligendi rem quas earum quae
  voluptate natus dolorum ex quasi deleniti quis. Mollitia nesciunt cum veniam
  excepturi quisquam iste enim quos quasi! Sequi, temporibus reiciendis,
  cupiditate consequatur neque pariatur recusandae, tenetur expedita ab
  laudantium aut sunt mollitia eveniet rem aperiam ipsa. Deserunt officiis
  fugiat harum, similique dicta reprehenderit dolorem, est veritatis nulla
  temporibus, accusantium eum iusto. Ipsa excepturi necessitatibus voluptates
  fugit? Assumenda quam, magni quisquam possimus non commodi ea amet architecto
  voluptates facere quidem ex nulla quae labore voluptate eveniet, culpa rerum!
  Maiores excepturi iste rem quasi nesciunt iusto asperiores doloremque sapiente
  quisquam blanditiis voluptates tempore, repellat corrupti aspernatur, laborum
  odio perspiciatis? Velit aut dolorem pariatur accusamus alias nisi nostrum,
  eveniet aperiam adipisci veniam culpa laudantium esse sapiente nesciunt
  excepturi, fugit repellendus. Rem, asperiores. Numquam minus cumque quas sint,
  reiciendis suscipit provident quos veniam culpa ipsum tempore iure neque
  tenetur itaque modi aperiam reprehenderit, voluptatibus aliquam incidunt
  assumenda maiores dolorem eos officia! Sit reprehenderit ex fuga est ducimus?
  Sint in itaque totam neque facere blanditiis consectetur culpa mollitia.
  Impedit id molestiae eveniet sequi corporis laudantium ratione, dolore
  obcaecati eius natus facilis quae saepe expedita excepturi alias qui vero est
  quod possimus! Fugit explicabo voluptatum autem, dolor nam delectus blanditiis
  sapiente ipsam modi optio voluptate temporibus odit placeat debitis sint
  aliquid minima vel qui quas architecto quaerat ducimus quae dolorem? Nostrum
  distinctio quisquam laborum ducimus ex? Non nemo nam amet nulla commodi optio
  voluptates veniam, provident est quia, repellendus ducimus fugit, doloremque
  modi cumque. Exercitationem culpa alias nulla animi dolores repudiandae
  molestiae, eligendi officia dicta tempore ratione optio debitis nam est earum
  voluptates nobis eos non possimus! Eum alias autem quaerat placeat eos harum
  accusantium maxime ipsam eveniet? Repellendus aliquid voluptatibus consectetur
  a officiis incidunt animi, eveniet unde iure numquam blanditiis autem, nulla
  nesciunt quis ipsam esse, enim ut corrupti consequatur ad cumque et!
  Blanditiis tenetur cum, modi omnis sunt vero cupiditate facilis vitae delectus
  distinctio provident repellat ut, quae, iure possimus. Maiores deserunt
  quisquam nulla vel dolorem minus, unde consequuntur eveniet ratione cumque
  voluptatum est consectetur obcaecati voluptate impedit. Culpa voluptate libero
  maxime quasi voluptatem consequatur laudantium omnis esse ratione ut? A
  dolores nobis rem illo, saepe alias quia distinctio dignissimos commodi
  repudiandae minima ut explicabo delectus ea aliquid fuga consectetur illum
  accusantium odit blanditiis quisquam laudantium ullam qui iste. Ducimus in aut
  natus quasi repellendus, eaque nulla quisquam voluptates. Error facilis
  quisquam asperiores ut provident optio quam molestias vitae quibusdam repellat
  repudiandae sapiente libero doloribus itaque, excepturi accusantium odit atque
  fugit debitis veniam. Animi aliquam exercitationem aperiam dignissimos,
  voluptatum ab qui praesentium. Minima, molestias cum animi error magni nam
  provident dolore beatae odio et exercitationem nulla consequuntur! Odio
  laboriosam, repellat, tempora deserunt qui molestiae aspernatur ducimus
  dignissimos explicabo maxime ipsum maiores nulla ipsa placeat et blanditiis
  sunt voluptas labore impedit, voluptatibus animi. Eaque iusto quasi nisi eos
  corrupti? Possimus corrupti, explicabo illum quibusdam ipsum vel quia,
  similique magni minus repellat, temporibus laborum eveniet est. Ullam, porro
  dolorum vel facere nihil consequuntur quas quia facilis eum saepe explicabo
  sint tenetur inventore voluptas, illo omnis. At dolorem blanditiis amet
  placeat est! Nostrum explicabo dicta natus assumenda dolorum laboriosam?
  Fugiat pariatur magnam necessitatibus tempore ducimus, quis nobis reiciendis
  quaerat maiores velit praesentium itaque distinctio nostrum architecto id
  totam cupiditate quo dicta dolores veniam, natus laudantium aspernatur earum.
  Possimus asperiores itaque hic, esse minus nam reprehenderit, nobis sapiente
  soluta dolorum, repellat rerum? Autem porro voluptatem vitae magni tempore
  ipsam corrupti voluptates eveniet veritatis quia unde repellat ea vero
  nesciunt commodi temporibus rerum possimus quasi corporis officiis, ipsum
  distinctio quae! Mollitia cum eum autem atque doloribus officiis iusto! At
  debitis quas nemo iste iusto possimus molestias nisi cupiditate. Commodi
  ratione perspiciatis, fuga doloremque a dolorum delectus laboriosam natus
  consectetur, quasi enim dolor nostrum pariatur esse, itaque necessitatibus
  repellendus error voluptatem praesentium blanditiis sequi doloribus
  repudiandae officia! Distinctio tempora numquam totam suscipit quisquam
  consectetur veniam, earum eum pariatur impedit quos veritatis minus dolores
  eligendi unde recusandae hic illum? Perspiciatis quod odio vitae asperiores
  recusandae sunt aliquid deleniti natus omnis labore esse explicabo optio,
  ullam quibusdam dolorum enim repellat tempore. Nam, animi voluptatem. Modi
  laudantium maxime, ullam et, perferendis repellat praesentium molestias
  provident consectetur animi culpa inventore consequatur excepturi accusamus
  debitis hic. Minima saepe explicabo, labore facilis porro maxime eaque alias
  fuga cum illum nostrum est ut pariatur voluptatum itaque perferendis earum at
  magni modi nulla doloribus? Dolore voluptates nisi veritatis odit ab animi
  deserunt debitis quo, architecto, quas neque, sint maiores perspiciatis? Odio,
  quia tempora accusantium voluptate incidunt repellat perferendis, quae nihil
  atque repellendus earum enim quis? Eaque assumenda eveniet aperiam expedita
  debitis nostrum eius dolorem nulla, amet aliquam quas explicabo corporis
  maxime, blanditiis vero reprehenderit sed, obcaecati impedit minima atque
  consequuntur tempore id repudiandae! Ut repellat ad tenetur a illo, optio
  voluptatum dolores vero adipisci voluptatibus sapiente atque, repellendus
  delectus suscipit nesciunt harum? Perspiciatis in, delectus, voluptatem, iusto
  officia possimus qui reiciendis saepe consequatur hic maxime. Velit voluptas
  enim totam! Inventore doloremque doloribus, modi consequuntur dolor fugit
  consequatur exercitationem eveniet beatae accusantium deleniti aut voluptas
  quibusdam veniam in quas eius a eum, ex illum, laudantium sed facilis vero
  fuga? Ducimus eligendi illum assumenda est? Praesentium distinctio suscipit
  dolore delectus pariatur quod illum perspiciatis, molestiae accusamus
  assumenda quia sunt ducimus veritatis possimus est in voluptatibus iusto! Eius
  eum officia omnis voluptas molestiae in magnam, nobis, quibusdam quisquam
  soluta maiores, accusamus ea alias commodi iusto dignissimos laboriosam modi
  debitis? Officia debitis quis corrupti esse! Est, excepturi. Non, nisi magnam.
  Porro ullam perspiciatis tempora, nisi id fugit veniam ea facilis dolorem?
  Quis ut laudantium a suscipit officia porro eum velit.
  <div class="analytics">
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Dropdown button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
  <div>
    <span tooltip="I'm up above it!">Up</span>
  </div>
  <div>
    <span tooltip="Slide to the left" flow="left">Left</span>
    <span tooltip="Slide to the right" flow="right">Right</span>
  </div>
  <div>
    <span tooltip="Get Down." flow="down">Down</span>
  </div>
</div>
